body
{
	background-color: #ffffff;
	color: #000000;
}

div.f2em{
	alignment-adjust: center;
	background-color: DodgerBlue;
	font-size: 2em;
	color: LemonYellow;
}

p.p1
{
	background-color: #000000;
	color: #FFFFFF;
}